@import 'partials/header.css';
@import 'partials/main.css';
@import 'partials/footer.css';
@import 'partials/variables.css';
@import 'partials/form.css';
@import 'partials/artwork.css';
@import 'partials/animation.css';
@import 'partials/galleryModal.css';
@import 'partials/quiz.css';

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
