
.artwork-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; 
  padding: 20px;
}


.artwork-item {
  width: 200px; 
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.artwork-item img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.artwork-title,
.artwork-artist,
.artwork-year {
  font-size: 14px;
  margin-top: 5px;
}
