footer {
  background-color: var(--bs-body-bg);
  color: white;
}

footer > div{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
}
footer ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
}

.socials img {
  max-width: 30px;
}

.copyright{
  color: var(--bs-body-font-color);
}