header {
  background-color: var(--bs-body-bg);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
}
.theme-dropdown {
  position: relative;
  display: inline-block;
  margin-left: auto;
}


.dropdown-content li {
  padding: 8px 15px;
}

.dropdown-content li a {
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}
.logo-container {
  width: 20vw;
  max-width: 70px;
}
.logo-container img {
  width: 100%;
  margin: 10px;
}


.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  background-color: var(--bs-body-bg);
  color: var(--bs-primary-color);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: fit-content;
  margin: 15px;

}

.login-btn:hover {
  background-color: var(--bs-body-bg-hover);
}