main{
    background-color: var(--bs-body-bg);
    justify-content: center;
    margin: 0 auto;
    
}
.intro-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.intro-section h1{
  
}
.tagline{
    
}
.quiz-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.quiz-container{
    width: 80vw;
    margin: 0 auto;
}
.quiz-container img{
    width: 100%;
}