:root {
    --bs-primary-color: #1C3D5A;
    --bs-secondary-color: #8cc2c7;
    --bs-body-font-color: #18354f;
    --bs-body-bg: #d8d1c6;
    --bs-body-bg-hover: #EBE1DB;
    --bs-button-color: #ac8938;
    --bs-button-hover-color: #a07c27;

    --bs-form-color: #FEF7F2;
    --bs-form-font-color: #555;
    --bs-form-border-color: #ddd;
    --bs-form-button-hover-color: #68a8ae;

    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-serif: "Times New Roman", Times, serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --bs-body-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }