:root {
    --bs-primary-color: #1C3D5A;
    --bs-secondary-color: #8cc2c7;
    --bs-body-font-color: #18354f;
    --bs-body-bg: #d8d1c6;
    --bs-body-bg-hover: #EBE1DB;
    --bs-button-color: #ac8938;
    --bs-button-hover-color: #a07c27;

    --bs-form-color: #FEF7F2;
    --bs-form-font-color: #555;
    --bs-form-border-color: #ddd;
    --bs-form-button-hover-color: #68a8ae;

    --bs-body-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }